@use './variables' as *;
@use './mixins' as *;

@use './blocks/header';
@use './blocks/gallery';
@use './blocks/datepicker';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-main;
  background-color: $color-bg;
  color: $color-text;
}

h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 836px;
  margin: 0 auto;
  padding: 0 10px;
}


.page {
  position: relative;
  width: 100%;          
  min-height: 100vh;
  margin: 0 auto;     
  background-color: $color-bg;; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: visible;
}

.page::before {
  content: "";
  position: absolute;
  top: -34px;
  left: 0;
  width: 730px;    
  height: 482px;
  background: url('/images/hero.png') no-repeat left top;
  background-size: cover; 
  z-index: 0;
  pointer-events: none;
}


.page::after {
  content: "";
  position: absolute;
  bottom: 41px;             
  right: 0;            
  width: 420px;           
  height: 360px;
  background: url('/images/hero-right.png') no-repeat right top;
  background-size: contain;
  z-index: 0;
  pointer-events: none;
}


@media (max-width: 1024px) {
  .page::before {
    width: 540px;
    height: 364px;
    top: -20px;
  }

  .page::after {
    width: 300px;
    height: 260px;
    bottom: 20px;
  }
}


@media (max-width: 480px) {
  .page::before {
    width: 360px;
    top: -10px;
    opacity: 0.6;          
  }

  .page::after {
    width: 220px;
    height: 180px;
    bottom: 10px;
    opacity: 0.6;
  }
}

